<% if !current_user || !current_user.user_authentications %>
  <h2><%= t(:sign_in_through_one_of_these_services) %>:</h2>
<% end %>
<% Spree::AuthenticationMethod.where(:environment => ::Rails.env).each do |method| %>
  <% img = "store/#{method.provider}_64.png" %>
  <%= link_to(image_tag(img, :size => "64x64", :alt => "#{method.provider}"), "users/auth/#{method.provider}",:class => "popup", :"data-width" => 600, :"data-height" => 400, :title => "#{t(:sign_in_with)} #{method.provider.capitalize}") if method.active %>
  <% end %>
